<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hello Foto</title>
</head>
<body>
    <div class="container justify-center">
        <img src="http://www.placegoldblum.com/320/320" alt="Large photo from albums">
        <div class="box">
            <img src="http://placegoldblum.com/25/25" alt="Small camera logo">
            <h2>family foto</h2>
            <p>free cloud storage for all your shared memories</p>
            <button><a href="/register">Start Sharing!</a></button>
        </div>
    </div>
    <div class="container justify-center">
    <img src="http://www.placegoldblum.com/320/320" alt="Large photo from albums">
    <img src="http://www.placegoldblum.com/320/320" alt="Large photo from albums">
    </div>

    
</body>
</html>