<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Create Album</title>
</head>
<body>
    <div class="container justify-center">
        <div class="main">
            <h1>Create a New Album</h1>
            <form action="/process_album" method="post">
                <div class="container direction-column">
                    <label for="name">Name your new Album: </label>
                    <input type="text" class="" name='name' placeholder="Album name here..." value="">
                    <label for="description">Description: </label>
                    <input type="text" class="" name='description' placeholder="Describe your album..." value="">
                    <button type="submit">Create and Add Fotos!</button>
                </div>
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                            {% for message in messages %}            <!-- loop through the messages -->
                                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </form>
        </div>
    </div>
    
</body>
</html>